default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\Tests\oe_media\Behat\DrupalContext
        - Drupal\Tests\oe_media\Behat\AvPortalContext
        - Drupal\Tests\oe_media\Behat\CleanupContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              AV Portal video creation: 'media/add/av_portal_video'
              AV Portal photo creation: 'media/add/av_portal_photo'
              demo content creation: 'node/add/oe_media_demo'
              document creation: 'media/add/document'
              image creation: 'media/add/image'
              remote video selection: 'media/add/remote_video'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      ajax_timeout: 10
      browser_name: "${selenium.browser}"
      base_url: "${drupal.base_url}"
      files_path: "%paths.base%/tests/fixtures/"
      javascript_session: selenium2
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "${selenium.browser}", "version": "*" }
      ajax_timeout: 10
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
  formatters:
    progress: ~

